Unconfirmable requests should return immediately.

Hi there, here is my test case:

```javascript
var coap = require('coap');
var req = coap.request({
  host: 'localhost',
  port: 8360,
  pathname: '/event',
  method: 'POST',
  confirmable: false
}).end("hello");
```

I'm simply trying to make a request and return immediately, in a fire and forget fashion. Unfortunately the client hangs forever until a timeout happens.
Is this a bug or there is some other option that I couldn't find?

Thanks,
Chris

Non confirmable requests still have a response, the client is waiting for that.

You mean if the recipient rejects the message? That's the only case I can find in the spec. Still that could be handled differently from the library e.g. with a flag and an event listener and not as the default case. It's a bit weird sending something in an unreliable fashion and still waiting some kind of response.

@cv711, please refer to [RFC7252 section 5](https://tools.ietf.org/html/rfc7252#section-5). The request/response semantic in CoAP is separate from confirmable/non-confirmable messages.

That is, CoAP request must always expect a response and in the absence of any abnormalities (server not reachable, network loss, etc.) the request will always receive a response. 

In case of non-confirmable request a separate response message is expected. 

In case of confirmable request there are two possible responses:
1) Acknowledgment message plus an additional response message 
2) Piggybacked response message (Combined acknowledgment and response messages).

You can find more details in the link.
