Why are confirmable messages being dropped in server.js?

On [line 300 in server.js](https://github.com/mcollina/node-coap/blob/7a4b770f7fd92f389b7bde3d1c57b6d1822882b0/lib/server.js#L300) all incoming messages that have a request code that does not start with `0` are dropped. This includes confirmable unicast message with a request code 2.05 (Content). Is there any good reason for this?

I want to have a server that responds to both multicast message with request code `0.30` and confirmable unicast messages with request code `2.05`.

> 
> 
> On [line 300 in server.js](https://github.com/mcollina/node-coap/blob/7a4b770f7fd92f389b7bde3d1c57b6d1822882b0/lib/server.js#L300) all incoming messages that have a request code that does not start with `0` are dropped. This includes confirmable unicast message with a request code 2.05 (Content). Is there any good reason for this?

Only message codes starting with 0 are allowed in requests (see [RFC 7252, section 12.1.1](https://tools.ietf.org/html/rfc7252#section-12.1.1)). Codes starting with 2, 4, or 5 indicate a response which should be the reason those messages are dropped by the server.

> I want to have a server that responds to both multicast message with request code `0.30` and confirmable unicast messages with request code `2.05`.

According to the RFC, the response code `2.05` should only be used by the server in a response to a `GET` request (which is indicated by the code `0.01`, the code `0.30` actually does not exist). For more information on valid combination of message codes see [section 5.8](https://tools.ietf.org/html/rfc7252#section-5.8) and [section 12.1](https://tools.ietf.org/html/rfc7252#section-12.1) of RFC 7252.

I hope this issue is resolved, feel free to leave a comment if there are any more questions :)