Support for accepting buggy-client-sent notify packets

Hi there,

We are working on a LwM2M server (using node-coap server).

We found some devices (hardware act as CoAP client) send buggy notify packets, being dropped, but we need to keep them. Actually, they send notify packets with Observe header always be set to 2. So all packets except the 1st one, are dropped by ObserveReadStream. And those client codes are burned in hardware modular, as you know, hard to change.

So we are wondering, if there is a way to let the application (who's using node-coap) to decide, whether to accept those packets.

By now, we found 2 ways to do this:

1. New option to `Agent.prototype.request(url)`'s url object, like `keepMisorderNotyfyPackets`.
  pros: straightforward, can be set on a per-request basis.
  cons: this option should be passed to ObserveReadStream, thus will change the signature of `function ObserveReadStream(packet, rsinfo, outSocket)`.

2. Expose a `globalObserveReadStreamClass` variable like `globalAgent`, so application can assign a customized sub class of ObserveReadStream to it.
  pros: more flexible; no api level signature changes.
  cons: N/A :)

Any other good ideas are appreciated. Once settled, we can provide PR to get the job done.

Best regards,
Mophy Xiong


Hi @mophy,

> We found some devices (hardware act as CoAP client) send buggy notify packets, being dropped, but we need to keep them. Actually, they send notify packets with Observe header always be set to 2.

I assume you mean LwM2M client instead of CoAP client? CoAP Observe is a feature which allows **CoAP server** to send notifications **CoAP client**.


> So we are wondering, if there is a way to let the application (who's using node-coap) to decide, whether to accept those packets.

Just stating the obvious, but technically, the described LwM2M clients (CoAP servers) are breaking the CoAP Observe standard. More specifically [RFC7641 Section 4.4](https://tools.ietf.org/html/rfc7641#section-4.4):
```
For this purpose, the server MUST set the value of the Observe Option
of each notification it sends to the 24 least significant bits of a
strictly increasing sequence number.
```

What you are asking is to support non-standard operation. My position to this would be quite conservative as it creates a precedence to support all kinds of misbehaving CoAP implementations.
However as this can be viewed as a pass-through feature rather than a non-standard support, I would approve a simple solution that does not alter the architecture and current API (or at least minimal backwards compatible API changes).

> 1. New option to `Agent.prototype.request(url)`'s url object, like `keepMisorderNotyfyPackets`.
>    pros: straightforward, can be set on a per-request basis.
>    cons: this option should be passed to ObserveReadStream, thus will change the signature of `function ObserveReadStream(packet, rsinfo, outSocket)`.

Since notification filtering is done inside ObserveReadStream, there's no need to change Agent. My suggestion would be to add `_disableFiltering`/`_allowOutOfOrder` flag (i.e. https://github.com/GiedriusM/node-coap/commit/fd1cfc4a11d37fbf4c4f9673eb81d02f17a5a806) to ObserveReadStream and set it to `true` when the response arrives:

```javascript
const coap  = require('../') // or coap
    , req   = coap.request({
                observe: true
              })

req.on('response', function(res) {
  res._disableFiltering = true  // Enable pass-through / non-standard behavior
  res.pipe(process.stdout)
})

req.end()
```

Would that work for you?

Hi @GiedriusM,

Thanks for your quick reply.

> I assume you mean LwM2M client instead of CoAP client? CoAP Observe is a feature which allows CoAP server to send notifications CoAP client.

Yes, you are right, that is LwM2M client. With observation, the LwM2M server acts the CoAP client and the LwM2M client acts the CoAP server.

> Just stating the obvious, but technically, the described LwM2M clients (CoAP servers) are breaking the CoAP Observe standard. More specifically RFC7641 Section 4.4:

Yes, we've read RFC7641, and pointed that out to our customer, the hardware modular vendor. And one of the modular developer responded: 'for some reason', they just sticked the Observe header to 2...

Standard is great, following standard is even more great. But when it comes to real life, you know, the ROI of changing server side code, is far from low, comparing to change the modular.

> Would that work for you?

Yes! GiedriusM@fd1cfc4 will certainly solve our problem. Once that is merged, I will close this issue :)

Thank you.

Best regards,
Mophy Xiong

@mophy, please verify that #201 solves your problem

> @mophy, please verify that #201 solves your problem

Hi, @GiedriusM, yes, #201 dose solve our problem, thank you.